# Capstone Project - College Recommender System

# Data Cleaning

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/MERGED2022_23_PP.csv', low_memory=False)

In [3]:
data.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,DCS_PELL_LOAN,PCTPELL_DCS_POOLED_SUPP,PCTFLOAN_DCS_POOLED_SUPP,DCS_PELL_LOAN_POOLED,POOLYRS_DCS,SATVR50,SATMT50,ACTCM50,ACTEN50,ACTMT50
0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,5094.0,0.6553,0.5365,5094.0,1.0,470.0,450.0,17.0,16.0,16.0
1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,13284.0,0.3374,0.4214,13284.0,1.0,650.0,650.0,27.0,27.0,25.0
2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,https://www.amridgeuniversity.edu/,https://www2.amridgeuniversity.edu:9091/,...,251.0,0.7769,0.5896,251.0,1.0,NaN,NaN,NaN,NaN,NaN
3,100706,105500.0,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,7360.0,0.2235,0.3511,7360.0,1.0,650.0,685.0,26.0,28.0,26.0
4,100724,100500.0,1005.0,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,3495.0,0.6984,0.768,3495.0,1.0,480.0,455.0,18.0,17.0,16.0

In [4]:
# select specific columns
selected_columns = ['INSTNM', 'CITY', 'STABBR', 'INSTURL', 'PREDDEG', 'HIGHDEG', 'ADM_RATE', 'SAT_AVG', 'CURROPER', 'ADDR']
columns_to_keep = []
columns_to_keep.extend(selected_columns)
for column_name in data.columns:
    if column_name.startswith('PCIP'):
        columns_to_keep.append(column_name)
data = data[columns_to_keep]

In [5]:
data.head()

,INSTNM,CITY,STABBR,INSTURL,PREDDEG,HIGHDEG,ADM_RATE,SAT_AVG,CURROPER,ADDR,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
0,Alabama A & M University,Normal,AL,www.aamu.edu/,3,4,0.6840,920.0,1,4900 Meridian Street,...,0.0431,0.0313,0.0,0.0,0.0,0.0,0.0137,0.0000,0.1526,0.0000
1,University of Alabama at Birmingham,Birmingham,AL,https://www.uab.edu/,3,4,0.8668,1291.0,1,Administration Bldg Suite 1070,...,0.0175,0.0265,0.0,0.0,0.0,0.0,0.0248,0.2213,0.1934,0.0080
2,Amridge University,Montgomery,AL,https://www.amridgeuniversity.edu/,3,4,NaN,NaN,1,1200 Taylor Rd,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.4565,0.0000
3,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu/,3,4,0.7810,1259.0,1,301 Sparkman Dr,...,0.0000,0.0249,0.0,0.0,0.0,0.0,0.0535,0.1119,0.1945,0.0079
4,Alabama State University,Montgomery,AL,www.alasu.edu/,3,4,0.9660,963.0,1,915 S Jackson Street,...,0.0438,0.0271,0.0,0.0,0.0,0.0,0.0604,0.0500,0.1500,0.0104

In [6]:
data.tail()

,INSTNM,CITY,STABBR,INSTURL,PREDDEG,HIGHDEG,ADM_RATE,SAT_AVG,CURROPER,ADDR,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
6479,Wilton Simpson Technical College,Brooksville,FL,https://hernandoschools.org/schools/stc,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6480,Valley College - Fairlawn - School of Nursing,Fairlawn,OH,https://www.valley.edu/,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6481,Western Maricopa Education Center - Southwest ...,Buckeye,AZ,https://west-mec.edu/findyourhappy/,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6482,Western Maricopa Education Center - Northeast ...,Phoenix,AZ,https://west-mec.edu/findyourhappy/,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6483,Burlington County Institute of Technology - Ad...,Medford,NJ,https://www.bcit.cc/bcitadulted,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data

,INSTNM,CITY,STABBR,INSTURL,PREDDEG,HIGHDEG,ADM_RATE,SAT_AVG,CURROPER,ADDR,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
0,Alabama A & M University,Normal,AL,www.aamu.edu/,3,4,0.6840,920.0,1,4900 Meridian Street,...,0.0431,0.0313,0.0,0.0,0.0,0.0,0.0137,0.0000,0.1526,0.0000
1,University of Alabama at Birmingham,Birmingham,AL,https://www.uab.edu/,3,4,0.8668,1291.0,1,Administration Bldg Suite 1070,...,0.0175,0.0265,0.0,0.0,0.0,0.0,0.0248,0.2213,0.1934,0.0080
2,Amridge University,Montgomery,AL,https://www.amridgeuniversity.edu/,3,4,NaN,NaN,1,1200 Taylor Rd,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.4565,0.0000
3,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu/,3,4,0.7810,1259.0,1,301 Sparkman Dr,...,0.0000,0.0249,0.0,0.0,0.0,0.0,0.0535,0.1119,0.1945,0.0079
4,Alabama State University,Montgomery,AL,www.alasu.edu/,3,4,0.9660,963.0,1,915 S Jackson Street,...,0.0438,0.0271,0.0,0.0,0.0,0.0,0.0604,0.0500,0.1500,0.0104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6479,Wilton Simpson Technical College,Brooksville,FL,https://hernandoschools.org/schools/stc,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6480,Valley College - Fairlawn - School of Nursing,Fairlawn,OH,https://www.valley.edu/,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6481,Western Maricopa Education Center - Southwest ...,Buckeye,AZ,https://west-mec.edu/findyourhappy/,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6482,Western Maricopa Education Center - Northeast ...,Phoenix,AZ,https://west-mec.edu/findyourhappy/,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6483,Burlington County Institute of Technology - Ad...,Medford,NJ,https://www.bcit.cc/bcitadulted,0,0,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data.shape

(6484, 48)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6484 entries, 0 to 6483
Data columns (total 48 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   INSTNM    6484 non-null   object
 1   CITY      6484 non-null   object
 2   STABBR    6484 non-null   object
 3   INSTURL   6460 non-null   object
 4   PREDDEG   6484 non-null   int64
 5   HIGHDEG   6484 non-null   int64
 6   ADM_RATE  1956 non-null   float64
 7   SAT_AVG   1089 non-null   float64
 8   CURROPER  6484 non-null   int64
 9   ADDR      5986 non-null   object
 10  PCIP01    5711 non-null   float64
 11  PCIP03    5711 non-null   float64
 12  PCIP04    5711 non-null   float64
 13  PCIP05    5711 non-null   float64
 14  PCIP09    5711 non-null   float64
 15  PCIP10    5711 non-null   float64
 16  PCIP11    5711 non-null   float64
 17  PCIP12    5711 non-null   float64
 18  PCIP13    5711 non-null   float64
 19  PCIP14    5711 non-null   float64
 20  PCIP15    5711 non-null   float64
 21  PCIP16    5711 non-null   float64
 22  PCIP19    5711 non-null   float64
 23  PCIP22    5711 non-null   float64
 24  PCIP23    5711 non-null   float64
 25  PCIP24    5711 non-null   float64
 26  PCIP25    5711 non-null   float64
 27  PCIP26    5711 non-null   float64
 28  PCIP27    5711 non-null   float64
 29  PCIP29    5711 non-null   float64
 30  PCIP30    5711 non-null   float64
 31  PCIP31    5711 non-null   float64
 32  PCIP38    5711 non-null   float64
 33  PCIP39    5711 non-null   float64
 34  PCIP40    5711 non-null   float64
 35  PCIP41    5711 non-null   float64
 36  PCIP42    5711 non-null   float64
 37  PCIP43    5711 non-null   float64
 38  PCIP44    5711 non-null   float64
 39  PCIP45    5711 non-null   float64
 40  PCIP46    5711 non-null   float64
 41  PCIP47    5711 non-null   float64
 42  PCIP48    5711 non-null   float64
 43  PCIP49    5711 non-null   float64
 44  PCIP50    5711 non-null   float64
 45  PCIP51    5711 non-null   float64
 46  PCIP52    5711 non-null   float64
 47  PCIP54    5711 non-null   float64
dtypes: float64(40), int64(3), object(5)
memory usage: 2.4+ MB

In [10]:
# check for duplicates in df
data.duplicated().sum()

0

In [11]:
# count missing values in df
data.isna().sum()

INSTNM         0
CITY           0
STABBR         0
INSTURL       24
PREDDEG        0
HIGHDEG        0
ADM_RATE    4528
SAT_AVG     5395
CURROPER       0
ADDR         498
PCIP01       773
PCIP03       773
PCIP04       773
PCIP05       773
PCIP09       773
PCIP10       773
PCIP11       773
PCIP12       773
PCIP13       773
PCIP14       773
PCIP15       773
PCIP16       773
PCIP19       773
PCIP22       773
PCIP23       773
PCIP24       773
PCIP25       773
PCIP26       773
PCIP27       773
PCIP29       773
PCIP30       773
PCIP31       773
PCIP38       773
PCIP39       773
PCIP40       773
PCIP41       773
PCIP42       773
PCIP43       773
PCIP44       773
PCIP45       773
PCIP46       773
PCIP47       773
PCIP48       773
PCIP49       773
PCIP50       773
PCIP51       773
PCIP52       773
PCIP54       773
dtype: int64

In [12]:
# replace missing values in specific columns with "Not Available"
columns_to_fill = ['INSTURL', 'ADM_RATE', 'SAT_AVG', 'ADDR']
replacement_value = "Not Available"
data.fillna({col: replacement_value for col in columns_to_fill}, inplace=True)

In [13]:
data.head()

,INSTNM,CITY,STABBR,INSTURL,PREDDEG,HIGHDEG,ADM_RATE,SAT_AVG,CURROPER,ADDR,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
0,Alabama A & M University,Normal,AL,www.aamu.edu/,3,4,0.684,920.0,1,4900 Meridian Street,...,0.0431,0.0313,0.0,0.0,0.0,0.0,0.0137,0.0000,0.1526,0.0000
1,University of Alabama at Birmingham,Birmingham,AL,https://www.uab.edu/,3,4,0.8668,1291.0,1,Administration Bldg Suite 1070,...,0.0175,0.0265,0.0,0.0,0.0,0.0,0.0248,0.2213,0.1934,0.0080
2,Amridge University,Montgomery,AL,https://www.amridgeuniversity.edu/,3,4,Not Available,Not Available,1,1200 Taylor Rd,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.4565,0.0000
3,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu/,3,4,0.781,1259.0,1,301 Sparkman Dr,...,0.0000,0.0249,0.0,0.0,0.0,0.0,0.0535,0.1119,0.1945,0.0079
4,Alabama State University,Montgomery,AL,www.alasu.edu/,3,4,0.966,963.0,1,915 S Jackson Street,...,0.0438,0.0271,0.0,0.0,0.0,0.0,0.0604,0.0500,0.1500,0.0104

In [14]:
data.isna().sum()

INSTNM        0
CITY          0
STABBR        0
INSTURL       0
PREDDEG       0
HIGHDEG       0
ADM_RATE      0
SAT_AVG       0
CURROPER      0
ADDR          0
PCIP01      773
PCIP03      773
PCIP04      773
PCIP05      773
PCIP09      773
PCIP10      773
PCIP11      773
PCIP12      773
PCIP13      773
PCIP14      773
PCIP15      773
PCIP16      773
PCIP19      773
PCIP22      773
PCIP23      773
PCIP24      773
PCIP25      773
PCIP26      773
PCIP27      773
PCIP29      773
PCIP30      773
PCIP31      773
PCIP38      773
PCIP39      773
PCIP40      773
PCIP41      773
PCIP42      773
PCIP43      773
PCIP44      773
PCIP45      773
PCIP46      773
PCIP47      773
PCIP48      773
PCIP49      773
PCIP50      773
PCIP51      773
PCIP52      773
PCIP54      773
dtype: int64

In [15]:
data.dropna(inplace=True)

In [16]:
data.isna().sum()

INSTNM      0
CITY        0
STABBR      0
INSTURL     0
PREDDEG     0
HIGHDEG     0
ADM_RATE    0
SAT_AVG     0
CURROPER    0
ADDR        0
PCIP01      0
PCIP03      0
PCIP04      0
PCIP05      0
PCIP09      0
PCIP10      0
PCIP11      0
PCIP12      0
PCIP13      0
PCIP14      0
PCIP15      0
PCIP16      0
PCIP19      0
PCIP22      0
PCIP23      0
PCIP24      0
PCIP25      0
PCIP26      0
PCIP27      0
PCIP29      0
PCIP30      0
PCIP31      0
PCIP38      0
PCIP39      0
PCIP40      0
PCIP41      0
PCIP42      0
PCIP43      0
PCIP44      0
PCIP45      0
PCIP46      0
PCIP47      0
PCIP48      0
PCIP49      0
PCIP50      0
PCIP51      0
PCIP52      0
PCIP54      0
dtype: int64

In [17]:
data.shape

(5711, 48)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5711 entries, 0 to 5988
Data columns (total 48 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   INSTNM    5711 non-null   object
 1   CITY      5711 non-null   object
 2   STABBR    5711 non-null   object
 3   INSTURL   5711 non-null   object
 4   PREDDEG   5711 non-null   int64
 5   HIGHDEG   5711 non-null   int64
 6   ADM_RATE  5711 non-null   object
 7   SAT_AVG   5711 non-null   object
 8   CURROPER  5711 non-null   int64
 9   ADDR      5711 non-null   object
 10  PCIP01    5711 non-null   float64
 11  PCIP03    5711 non-null   float64
 12  PCIP04    5711 non-null   float64
 13  PCIP05    5711 non-null   float64
 14  PCIP09    5711 non-null   float64
 15  PCIP10    5711 non-null   float64
 16  PCIP11    5711 non-null   float64
 17  PCIP12    5711 non-null   float64
 18  PCIP13    5711 non-null   float64
 19  PCIP14    5711 non-null   float64
 20  PCIP15    5711 non-null   float64
 21  PCIP16    5711 non-null   float64
 22  PCIP19    5711 non-null   float64
 23  PCIP22    5711 non-null   float64
 24  PCIP23    5711 non-null   float64
 25  PCIP24    5711 non-null   float64
 26  PCIP25    5711 non-null   float64
 27  PCIP26    5711 non-null   float64
 28  PCIP27    5711 non-null   float64
 29  PCIP29    5711 non-null   float64
 30  PCIP30    5711 non-null   float64
 31  PCIP31    5711 non-null   float64
 32  PCIP38    5711 non-null   float64
 33  PCIP39    5711 non-null   float64
 34  PCIP40    5711 non-null   float64
 35  PCIP41    5711 non-null   float64
 36  PCIP42    5711 non-null   float64
 37  PCIP43    5711 non-null   float64
 38  PCIP44    5711 non-null   float64
 39  PCIP45    5711 non-null   float64
 40  PCIP46    5711 non-null   float64
 41  PCIP47    5711 non-null   float64
 42  PCIP48    5711 non-null   float64
 43  PCIP49    5711 non-null   float64
 44  PCIP50    5711 non-null   float64
 45  PCIP51    5711 non-null   float64
 46  PCIP52    5711 non-null   float64
 47  PCIP54    5711 non-null   float64
dtypes: float64(38), int64(3), object(7)
memory usage: 2.1+ MB

In [19]:
data.dtypes

INSTNM       object
CITY         object
STABBR       object
INSTURL      object
PREDDEG       int64
HIGHDEG       int64
ADM_RATE     object
SAT_AVG      object
CURROPER      int64
ADDR         object
PCIP01      float64
PCIP03      float64
PCIP04      float64
PCIP05      float64
PCIP09      float64
PCIP10      float64
PCIP11      float64
PCIP12      float64
PCIP13      float64
PCIP14      float64
PCIP15      float64
PCIP16      float64
PCIP19      float64
PCIP22      float64
PCIP23      float64
PCIP24      float64
PCIP25      float64
PCIP26      float64
PCIP27      float64
PCIP29      float64
PCIP30      float64
PCIP31      float64
PCIP38      float64
PCIP39      float64
PCIP40      float64
PCIP41      float64
PCIP42      float64
PCIP43      float64
PCIP44      float64
PCIP45      float64
PCIP46      float64
PCIP47      float64
PCIP48      float64
PCIP49      float64
PCIP50      float64
PCIP51      float64
PCIP52      float64
PCIP54      float64
dtype: object

In [20]:
data

,INSTNM,CITY,STABBR,INSTURL,PREDDEG,HIGHDEG,ADM_RATE,SAT_AVG,CURROPER,ADDR,...,PCIP44,PCIP45,PCIP46,PCIP47,PCIP48,PCIP49,PCIP50,PCIP51,PCIP52,PCIP54
0,Alabama A & M University,Normal,AL,www.aamu.edu/,3,4,0.684,920.0,1,4900 Meridian Street,...,0.0431,0.0313,0.0,0.0,0.0,0.0,0.0137,0.0000,0.1526,0.0000
1,University of Alabama at Birmingham,Birmingham,AL,https://www.uab.edu/,3,4,0.8668,1291.0,1,Administration Bldg Suite 1070,...,0.0175,0.0265,0.0,0.0,0.0,0.0,0.0248,0.2213,0.1934,0.0080
2,Amridge University,Montgomery,AL,https://www.amridgeuniversity.edu/,3,4,Not Available,Not Available,1,1200 Taylor Rd,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.4565,0.0000
3,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu/,3,4,0.781,1259.0,1,301 Sparkman Dr,...,0.0000,0.0249,0.0,0.0,0.0,0.0,0.0535,0.1119,0.1945,0.0079
4,Alabama State University,Montgomery,AL,www.alasu.edu/,3,4,0.966,963.0,1,915 S Jackson Street,...,0.0438,0.0271,0.0,0.0,0.0,0.0,0.0604,0.0500,0.1500,0.0104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5984,Galen Health Institutes-Houston,Houston,TX,https://galencollege.edu/,2,0,Not Available,Not Available,1,11210 Equity Drive,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
5985,Galen Health Institutes-Pikeville,Pikeville,KY,https://galencollege.edu/campuses/pikeville,2,0,Not Available,Not Available,1,172 S. Mayo Trail,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0000
5986,Stellar Career College,Chicago,IL,https://stellarcollege.edu/,1,1,Not Available,Not Available,1,"205 W. Randolph Street, Suite 200",...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,1.0000,0.0000,0.0000
5987,Commonwealth University of Pennsylvania,Bloomsburg,PA,https://www.commonwealthu.edu/,3,4,0.9396,1067.0,1,400 East Second Street,...,0.0380,0.0298,0.0,0.0,0.0,0.0,0.0244,0.2150,0.1782,0.0099
5988,Pennsylvania Western University,California,PA,https://www.pennwest.edu/,3,4,0.9362,1057.0,1,250 University Avenue,...,0.0209,0.0570,0.0,0.0,0.0,0.0,0.0483,0.2201,0.1140,0.0054

In [21]:
# save combined data to csv file
data.to_csv('data/data_cleaned.csv', index=False)